@using Cart.Models;

@{
    
    string u1 = (string)ViewData["user"];
    int userid = (int)ViewData["uid"];
    int cart_count = (int)ViewData["count"];
}

<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet href="~/Content/Assignment.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET Application</title>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

</head>

<body>
    @{
        <ul>
            <li><a href="#">.NET Shopp-e</a></li>
            <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
           
           
            <li>@Html.ActionLink("My Purchases", "MyOrders", "MyOrders")</li>
            <li>
                <a href="@Url.Action("DisplayCart", "DisplayCart", new { u_id = userid , user_name = u1})">
                    <img alt="View Cart" src="@Url.Content("~/Images/shopping_cart.png")" height="25">
                    <span>
                        <input type="text" size="1" name="quantity" style="font-family: Verdana;
                                        font-weight:bold;
                                        font-size:16px;
                                        color:white;
                                        background:#117A65;
                                        border:none"
                               id="quantity" value="@cart_count" />
                    </span>
                </a>
            </li>
        </ul>

    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - The .NET Shop</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>